<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-12">
                <ngx-gb-list></ngx-gb-list>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ngx-gb-video></ngx-gb-video>
            </div>
            <div class="col-md-6">
                <ngx-gb-sensors></ngx-gb-sensors>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <ngx-gb-map></ngx-gb-map>
    </div>
</div>
