<nb-card size="medium">
    <nb-card-header class="d-flex justify-content-between">
        <span class="mt-2">Live Sensor Data</span>
        <ngx-gb-dropdown (selectedGb)="userSelect($event)"></ngx-gb-dropdown>
    </nb-card-header>
    <nb-card-body>
        <nb-list *ngIf="dataStreams">
            <nb-list-item *ngFor="let dataStreamKey of objectKeys(dataStreams)" class="d-flex justify-content-between">
                <span>{{dataStreamKey}}: </span>
                <span class="bold">{{ data[dataStreamKey] || "Waiting..."}}</span>
            </nb-list-item>
        </nb-list>
        <nb-alert status="warning" *ngIf="!dataStreams">Hmm... No data found. Try reselecting the Gb</nb-alert>
        <nb-alert status="danger" *ngIf="!gbs">No gbs found for user!</nb-alert>
    </nb-card-body>
</nb-card>
