<nb-card size="medium">
    <nb-card-header class="d-flex justify-content-between">
        <span class="mt-2">Admin Panel</span>
        <ngx-gb-dropdown (outputSelectedGb)="userSelect($event)"></ngx-gb-dropdown>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <nb-toggle (checkedChange)="startDataCollection($event)">Data Collection Mode</nb-toggle>
            </div>
            <div class="col-md-6 col-sm-12">
                Logs:
            </div>
        </div>
    </nb-card-body>
</nb-card>
