
@mixin ngx-layout() {
  @include media-breakpoint-down(is) {
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}

.big-title {
  font-size: 7.25rem !important;
  line-height: 8rem;
}
