

<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">GB Admin Software</a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <nb-icon icon="question-mark-circle-outline"
           nbTooltip="Control the selected GB using your keyboard
                              Use 'w' to move forward, 'a' and 'd' to turn left and right respectively"
           nbTooltipStatus="primary"
  ></nb-icon>
  <h5 class="sub">Selected GB for Teleop</h5>
  <ngx-gb-dropdown (outputSelectedGb)="selectGb($event)"></ngx-gb-dropdown>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu"
               [name]="user?.email">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
